.tradeoffer__wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;

    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tradeoffer__container {
    background: #282B30;
    border-top: 4px solid #CF4856;
    padding: 50px 60px;
    border-radius: 7px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tradeoffer__subtitle {
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgba(207, 72, 86, .2);
    color: #CF4856;
    margin-bottom: 5px;
    user-select: none;
    width: fit-content;
}

.tradeoffer__title {
    font-size: 28px;
    color: rgba(255, 255, 255, 1);

    margin-bottom: 10px;
}

.tradeoffer__text {
    font-size: 14px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 5px;
}

.tradeoffer__buttons {
    display: flex;
    flex-direction: column;
}

.tradeoffer__f-buttons {
    display: flex;
}

.tradeoffer__revoke {
    font-size: 15px;
    color: rgb(111, 207, 151);
    background: rgba(111, 207, 151, .2);
    width: fit-content;
    padding: 6px 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: background .2s ease-in-out;
    user-select: none;
    margin-right: 10px;
}

.tradeoffer__revoke:hover {
    background: rgba(111, 207, 151, .4);
}

.tradeoffer__revoke:active {
    background: rgba(111, 207, 151, .6);
}

.tradeoffer__instr-btn {
    background: rgba(72, 124, 228, .2);
    color: #487CE4;
    width: fit-content;
    padding: 6px 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: background .2s ease-in-out;
    user-select: none;
    margin-right: 10px;
    font-size: 15px;
}

.tradeoffer__instr-btn:hover {
    background: rgba(72, 124, 228, .4);
}

.tradeoffer__instr-btn:active {
    background: rgba(72, 124, 228, .6);
}

.tradeoffer__personalusg {
    font-size: 14px;
    color: rgb(72, 124, 228);
    cursor: pointer;
    user-select: none;
    text-align: center;

    margin-bottom: 20px;
    transition: color .2s ease-in-out;
}

.tradeoffer__wrapper svg {
    height: 35px;
    margin-top: 20px;
}