<div class="report__status">
    <div class="report__status_title">Protection status</div>

    <div id="app_status" class="report__status_message">Analyzing..</div>

    <div class="report__status_hint">
        Be careful, use only our official website.
    </div>
</div>

<div class="report__reporter">
    <div class="report__reporter_title">Scam report</div>

    <div class="report__field">
        <input id="app_reportfield" type="text" placeholder="Site adress..">
        <div id="app_reportsend" class="report__send">
            <span>Send</span>
        </div>
    </div>

    <div id="app_reportmsg" class="report__message">Message</div>
</div>
